.academy-link__copyright {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  color: #444444;
  margin-top: 35px;
  margin-bottom: 31px;

  &:active {
    opacity: 0.3;
    transition: 0.3s;
  }
}

.academy-link__logo {
  position: relative;
  top: -2px;
  left: 7px;
  fill: #666666;

  &:hover,
  &:focus {
    fill: #68b738;
    transition: 0.3s;
  }
}

@media (min-width: $tablet-width) {
  .academy-link {
    margin-top: 47px;
    width: 163px;
  }

  .academy-link__copyright {
    margin-top: 0;
    align-items: center;
  }

  .academy-link__logo {
    top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .academy-link {
    margin-top: 22px;
  }
}
