.addition {
  list-style: none;
  margin: 0;
  padding: 0;
}

.addition__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.addition__title {
  font-family: $Oswald;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #222222;
}

.addition__description {
  font-size: 14px;
  line-height: 1;
  color: #444444;
}

.addition__description dd {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .addition__container {
    width: 708px;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .addition__container {
    width: 1300px;
    padding: 0 40px;
  }
}
