.addition {
  list-style: none;
  margin: 0;
  padding: 0;
}

.addition__container {
  list-style: none;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.addition__item {
  position: relative;
  padding-bottom: 16px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #d9d9d9;
    width: 280px;
  }
}

.addition__title {
  font-family: $Oswald;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #222222;
  margin-bottom: 12px;
}

.addition__description {
  min-width: 280px;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 1;
  color: #444444;
  margin-bottom: 14px;
}

.addition__description td:last-child {
  text-align: right;
}

.addition__button {
  font-size: 16px;
}

@media (min-width: $tablet-width) {
  .addition__container {
    width: 768px;
    padding: 0 30px;
  }

  .addition__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 29px 37px;
    padding-bottom: 22px;
    border: 1px solid #e6e6e6;

    &::after {
      display: none;
    }
  }

  .addition__title {
    font-size: 20px;
    margin: 0;
  }

  .addition__description {
    min-width: 130px;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 2px;
    margin-bottom: 22px;
  }

  .addition__description td:first-child {
    padding-right: 48px;
  }

  .addition__button {
    width: 633px;
  }
}

@media (min-width: $desktop-width) {
  .addition__container {
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    padding: 0 40px;

    &--main-alt {
      width: 935px;
      margin: 0;
      padding: 0;
    }
  }

  .addition__item {
    width: 895px;
    border: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 16px;
  }

  .addition__title {
    width: 285px;
    margin-top: 11px;
  }

  .addition__description {
    width: 285px;
    margin-top: 14px;
    margin-bottom: 0;
  }

  .addition__button {
    width: 245px;
  }
}
