.advantages {
  list-style: none;
  padding: 0;
}

.advantages__item {
  position: relative;
  padding-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--leaf {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--powder {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--dining {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &--clock {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/advantage-clock@1x.png");
    }
  }
}

.advantages__text {
  margin: 0;
  padding-left: 80px;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .advantages__item {
    width: 324px;
    min-height: 228px;

    &::before {
      position: relative;
      display: block;
      width: 80px;
      height: 80px;
    }
  }

  .advantages__text {
    width: 245px;
    padding-top: 37px;
    padding-left: 0;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    width: 245px;
  }
}
