.advantages {
  list-style: none;
  counter-reset: my-counter;
  padding: 0;
}

.advantages__item {
  position: relative;
  counter-increment: my-counter;
  padding-bottom: 27px;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--leaf {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--powder {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--dining {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &--clock {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/advantage-clock@1x.png");
    }
  }

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    &--leaf:before {
      background-image: url("../img/advantage-left@2x.png");
    }

    &--powder::before {
      background-image: url("../img/advantage-powder@2x.png");
    }

    &--dining::before {
      background-image: url("../img/advantage-dining@2x.png");
    }

    &--clock::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.advantages__text {
  margin: 0;
  padding-left: 80px;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: 324px;
    min-height: 228px;
    padding-bottom: 0;
    margin-bottom: 90px;

    &::before {
      position: relative;
      display: block;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: counter(my-counter);
      position: absolute;
      z-index: -1;
      left: 113px;
      top: -39px;
      font-size: 281px;
      line-height: 1;
      color: #f2f2f2;
      font-family: $Oswald;
    }
  }

  .advantages__text {
    width: 245px;
    padding-top: 32px;
    padding-left: 0;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    width: 245px;
    margin-bottom: 83px;
  }
}
