.contacts--alt {
  background-color: #f2f2f2;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.contacts__title {
  width: 130px;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 25px;
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  width: 139px;
  margin: 0;
  padding-top: 29px;
  font-size: 14px;
  line-height: 1.43;
  color: #444444;
}

.contacts__map {
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .contacts__container {
    width: 768px;
    padding: 69px 71px;
    padding-bottom: 38px;

    &--alt {
      padding-top: 64px;
      padding-left: 71px;
      padding-right: 71px;
    }
  }

  .contacts__title {
    padding-top: 29px;
    padding-bottom: 24px;
    width: 155px;
    font-size: 20px;

    &--alt {
      padding-top: 0;
    }
  }

  .contacts__address {
    width: 155px;
    font-size: 16px;
    line-height: 1.25;
    text-align: right;

    &--alt {
      padding-top: 0;
    }
  }

  .contacts__address span {
    display: block;
    padding-top: 19px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__container {
    position: absolute;
    top: 95px;
    left: 38px;
    background-color: #ffffff;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    width: 570px;
    min-height: 201px;
    padding: 0 87px;
    padding-left: 76px;
  }

  .contacts__title {
    margin: 0;
    padding-top: 64px;
  }

  .contacts__address {
    text-align: left;
    margin: 0;
    padding-top: 63px;
  }
}
