.experience {
  background-color: #f2f2f2;
  margin: 0;
}

.experience__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.experience__title {
  margin: inherit;
  padding-top: 33px;
  padding-bottom: 33px;
  font-family: $Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;
  color: #111111;
}

.experience__text {
  margin: inherit;
  padding-bottom: 22px;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
}

.experience__result {
  margin: inherit;
}

.experience__price-text {
  font-family: $Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.experience__image--after {
  display: none;
}

.experience__switch {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .experience {
    background-color: #ffffff;
  }

  .experience__container {
    width: 768px;
    padding: 0 30px;
  }

  .experience__title {
    margin: 0;
    font-size: 60px;
    line-height: 1;
  }
  .experience__text {
    font-size: 16px;
    line-height: 1.5;
  }

  .experience__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .experience__result {
    margin: 0;
  }

  .experience__price-text {
    font-size: 20px;
    line-height: 1;
    width: 175px;
    text-align: right;
  }

  .experience__pic-wrapper {
    margin: 0 auto;
  }

  .experience__switch-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .experience__switch {
    font-size: 20px;
    line-height: 1;
    border-bottom: 1px dotted #bebebe;
  }
}

@media (min-width: $desktop-width) {
  .experience__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1300px;
    padding: 0 40px;
  }

  .experience__info-wrapper,
  .experience__pic-wrapper {
    width: 570px;
  }

  .experience__title {
    margin: 0;
  }

  .experience__text {
    width: 380px;
    margin: 0;
  }

  .experience__wrapper {
    flex-direction: column;
  }

  .experience__price-text {
    width: 350px;
    text-align: left;
  }
}
