.experience {
  background-color: #f2f2f2;
  margin: 0;
}

.experience__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.experience__title {
  margin: inherit;
  padding-top: 18px;
  padding-bottom: 23px;
  font-family: $Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;
  color: #111111;
}

.experience__text {
  margin: inherit;
  padding-bottom: 26px;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
}

.experience__result {
  margin: inherit;
}

.experience__price-text {
  font-family: $Oswald;
  margin: 0;
  padding: 34px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.experience__pic-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experience__image--after {
  display: none;
}

.experience__switch-wrapper {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-top: 28px;
  padding-bottom: 35px;
}

.experience__switch {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #111111;
  text-transform: uppercase;
  padding-left: 4px;
}

.experience__switch-toggle {
  position: relative;
  width: 84px;
  height: 14px;
  margin-left: 6px;
  margin-top: 4px;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  background-color: #ffffff;
}

.experience__switch-inner {
  width: 35px;
  height: 6px;
  border-radius: 50px;
  background: #68b738;
  margin-left: 5px;
  margin-top: 3px;
}

@media (min-width: $tablet-width) {
  .experience {
    position: relative;
    background: linear-gradient(to top, #f2f2f2 42.7%, #ffffff 30%);

    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(to top, #eaeaea 42.7%, #ffffff 30%);
    }
  }

  .experience__container {
    width: 768px;
    padding: 0 30px;
  }

  .experience__title {
    margin: 0;
    font-size: 60px;
    line-height: 1;
    padding-top: 11px;
    padding-bottom: 64px;
  }

  .experience__text {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 53px;
  }

  .experience__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .experience__result {
    margin: 0;
  }

  .experience__price-text {
    font-size: 20px;
    line-height: 1.4;
    width: 175px;
    text-align: right;
    padding: 8px 0;
  }

  .experience__image-wrapper {
    position: relative;
    padding-top: 86px;
    padding-left: 14px;
  }

  .experience__pic-wrapper {
    margin: 0 auto;
  }

  .experience__image {
    &--before {
      clip: rect(auto, 345px, auto, auto);
    }

    &--after {

      position: absolute;
      top: 84px;
      display: block;
      clip: rect(auto, auto, auto, 339px);
    }
  }

  .experience__switch-wrapper {
    display: flex;
    justify-content: space-between;
    width: 575px;
    padding-top: 16px;
  }

  .experience__switch {
    font-size: 20px;
    line-height: 1;
    border-bottom: 1px dotted #bebebe;
    padding-left: 0;
    padding-bottom: 5px;
  }

  .experience__switch-toggle {
    position: relative;
    width: 428px;
    height: 6px;
    margin-left: 2px;
    margin-top: 7px;
    border-radius: 50px;
    background-color: #dedede;
  }

  .experience__switch-inner {
    position: relative;
    margin: 0 auto;
    bottom: 15px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      left: 12px;
      bottom: 12px;
      background-color: #68b738;
      border-radius: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .experience__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1300px;
    padding: 0 40px;
  }

  .experience__info-wrapper {
    width: 570px;
  }

  .experience__pic-wrapper {
    width: 610px;
    margin: 0;
  }

  .experience__title {
    padding-top: 0;
    padding-bottom: 146px;
    margin: 0;
  }

  .experience__text {
    width: 431px;
    margin: 0;
    padding-bottom: 68px;
  }

  .experience__wrapper {
    flex-direction: column;
  }

  .experience__price-text {
    width: 350px;
    text-align: left;
    padding-top: 59px;
  }

  .experience__price-text span {
    margin-left: 59px;
  }

  .experience__image-wrapper {
    margin-top: -55px;
    padding-left: 0;
    padding-top: 0;
  }

  .experience__switch-wrapper {
    width: 610px;
    padding-left: 39px;
    padding-top: 37px;
    padding-bottom: 69px;
  }
}
