.field {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.field__name {
  flex-shrink: 0;
  font-family: $Oswald;
  font-size: 16px;
  line-height: 1.13;
  color: #222222;
  text-transform: uppercase;
  margin-right: 15px;
}

.field__input {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 1.13;
  color: #444444;
  text-transform: uppercase;
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 13px 15px;
}

@media (min-width: $tablet-width) {
  .field__name {
    font-size: 20px;
    line-height: 1;
  }

  .field__input--area {
    width: 570px;
  }
}

@media (min-width: $desktop-width) {
  .field__input--area {
    width: 1220px;
  }
}

