.goods {
  list-style: none;
  margin: 0;
  padding: 0;
}

.goods__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.goods__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 21px;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #d9d9d9;
    width: 320px;
  }
}

.goods__picture {
  display: block;
  text-decoration: none;
}

.goods__title {
  display: block;
  max-width: 100px;
  margin-top: 20px;
  margin-bottom: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #111111;
}

.goods__composition {
  width: 140px;
  padding: 0;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 1.33;
  color: #444444;
}

.goods__composition td:last-child {
  text-align: right;
}

.goods__more-title {
  width: 100%;
  font-family: $Oswald;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.25;
  color: #111111;
  text-align: center;
  margin-top: 78px;
  margin-bottom: 7px;
}

.goods__sub-title {
  width: 100%;
  margin: 0;
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 1.33;
  color: #444444;
  text-align: center;
}

.goods__button {
  position: relative;
  top: -5px;
  font-size: 16px;
}

.goods__more-button {
  font-size: 16px;
  position: relative;
  background-color: #f2f2f2;
  color: #444444;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }

  &::after {
    content: "";
    position: absolute;
    top: -117px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    opacity: 0.3;
    background: #ffffff url("../img/icon-plus.svg") no-repeat center;
  }
}

@media (min-width: $tablet-width) {
  .goods__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 768px;
    padding: 0 30px;
  }

  .goods__item {
    position: relative;
    min-height: 431px;
    padding-top: 145px;
    background-color: #f2f2f2;
    flex-direction: column;
    align-items: center;
    width: 324px;
    margin-bottom: 140px;

    &::after {
      display: none;
    }

    &--more {
      padding-top: 0;
      background-color: #ffffff;
      border: 1px solid #cdcdcd;
    }

    &--last {
      margin-bottom: 68px;
    }
  }

  .goods__picture {
    position: absolute;
    top: -45px;

    &--big {
      top: -81px;
    }
  }

  .goods__wrapper {
    margin-bottom: 33px;
  }

  .goods__title {
    font-size: 20px;
    text-align: center;
    line-height: 1;
    max-width: 158px;
    margin: 0 auto;
    padding-top: 19px;
  }

  .goods__composition {
    font-size: 16px;
    line-height: 2;
    width: 249px;
    margin-top: 15px;
  }

  .goods__composition tr {
    border-bottom: 1px solid #cdcdcd;
  }

  .goods__button {
    width: 249px;
  }

  .goods__more-title {
    font-size: 20px;
    line-height: 1;
    margin-top: 166px;
    width: 135px;
    margin-bottom: 28px;
  }

  .goods__sub-title {
    width: 168px;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 85px;
  }

  .goods__more-button {
    &::after {
      width: 61px;
      height: 61px;
      top: -295px;
    }
  }
}

@media (min-width: $desktop-width) {
  .goods__container {
    width: 1300px;
    padding: 0 40px;
  }

  .goods__item {
    width: 245px;
    margin-bottom: 142px;
  }

  .goods__composition {
    width: 169px;
  }

  .goods__button {
    width: 169px;
  }

  .goods__more-button {
    width: 169px;
  }
}
