.how-to__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.how-to__title {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.67;
  color: #111111;
  margin: 0;
}

.how-to__list {
  margin-top: 35px;
  margin-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .how-to__container {
    width: 768px;
    padding: 0 30px;
  }

  .how-to__title {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .how-to__container {
    width: 1300px;
    padding: 0 40px;
  }

  .how-to__list {
    justify-content: space-between;
  }
}
