.main-nav__toggle {
  position: relative;
  display: inline-block;
  width: 25px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.main-nav__toggle span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: #111111;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #111111;
  }

  &::before {
    top: -7px;
    left: 0px;
    height: 3px;
  }

  &::after {
    top: 7px;
    left: 0px;
  }
}

.main-nav__list {
  margin-top: 40px;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
