.page-header__container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.page-header__logo {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.6;
  }
}
