.page-main__wrapper {
  position: relative;
  background: url("../img/index-background-mobile@1x.jpg");
  background-color: #68b738;
  background-repeat: no-repeat;
}

.page-main__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-main__title {
  text-align: center;
  margin: 0;
  font-family: $Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #ffffff;
  padding-top: 29px;
}

.page-main__catalog-title,
.page-main__program-title {
  text-align: center;
  font-family: $Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.67;
  color: #111111;
  padding-top: 31px;
}

.page-main__program-title {
  text-align: left;
}

.page-main__sub-title {
  margin: 0;
  font-family: $Oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  padding-top: 19px;
  padding-bottom: 172px;
  text-align: center;
  text-transform: uppercase;
}

.page-main__button {
  margin-top: 135px;
  margin-bottom: 22px;
}

.page-main__image {
  z-index: 1;
  position: absolute;
  top: 170px;
}

@media (min-width: $tablet-width) {
  .page-main__container {
    width: 768px;
    min-height: 696px;
    padding: 0 30px;
  }

  .page-main__wrapper {
    background: none;
  }

  .page-main__title {
    width: 415px;
    font-size: 60px;
    line-height: 1;
    text-align: left;
    color: #111111;
  }

  .page-main__sub-title {
    font-size: 20px;
    color: #111111;
    text-align: left;
    padding-bottom: 48px;
  }

  .page-main__button {
    width: 245px;
    margin-top: 0;
    font-size: 20px;
    line-height: 1;
    padding: 16px 15px;
  }

  .page-main__image {
    z-index: -1;
  }

  .page-main__catalog-title {
    text-align: left;
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 156px;
  }

  .page-main__program-title {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .page-main__container {
    width: 1300px;
    padding: 0 40px;
  }

  .page-main__catalog-title {
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 156px;
    padding: 0 40px;
  }
}
