.program-description__container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.program-description__button {
  margin-top: 135px;
  margin-bottom: 22px;
}

.program-description__list {
  margin: 0;
}
