.program-description__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.program-description__list {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .program-description__container {
    width: 768px;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .program-description__container {
    width: 1300px;
    padding: 0 40px;
  }
}
