.program-types {
  padding: 0;
  list-style: none;
}

.program-types__item {
  position: relative;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 51px;
    background-color: #68b738;
    border-radius: 50%;
  }
}

.program-types__icon {
  &--slim {
    position: absolute;
    top: 21px;
    left: 30px;
    width: 35px;
    height: 49px;
  }

  &--pro {
    position: absolute;
    top: 34px;
    left: 13px;
    width: 67px;
    height: 28px;
  }
}

.program-types__title {
  position: relative;
  font-family: $Oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
  padding-left: 71px;
}

.program-types__text {
  position: relative;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
  margin: 0;
  padding-top: 28px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 140px;
    width: 240px;
    height: 1px;
    background-color: #333333;
    opacity: 0.2;
  }
}

.program-types__link {
  position: relative;
  display: inline-block;
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #111111;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding-top: 45px;
  padding-bottom: 22px;

  &:active {
    opacity: 0.3;
    transition: 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 24px;
    right: -35px;
    width: 24px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
  }

  &:hover,
  &:focus {
    &::after {
      content: "";
      transition: 0.3s;
      width: 32px;
      height: 11px;
      right: -43px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .program-types__item {
    width: 708px;
    margin-bottom: 32px;
    padding-left: 53px;

    &::before {
      top: 92px;
      left: 446px;
      width: 200px;
      height: 200px;
    }
  }

  .program-types__icon {
    &--slim {
      position: absolute;
      top: 81px;
      left: 476px;
      width: 141px;
      height: 194px;
    }

    &--pro {
      position: absolute;
      top: 134px;
      left: 412px;
      width: 268px;
      height: 113px;
    }
  }

  .program-types__title {
    padding-left: 0;
    padding-top: 78px;
    font-size: 36px;
    line-height: 1.03;
  }

  .program-types__text {
    width: 384px;
    font-size: 16px;
    padding-top: 24px;
    line-height: 1.5;

    &--break {
      width: 344px;
    }

    &::after {
      display: none;
    }
  }

  .program-types__link {
    font-size: 20px;
    padding-bottom: 60px;
    padding-top: 56px;

    &::after {
      bottom: 64px;
      right: -48px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .program-types__item {
    width: 570px;
    padding: 0 52px;

    &::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }

  .program-types__icon {
    &--slim {
      top: 41px;
      left: 65px;
      width: 71px;
      height: 97px;
    }

    &--pro {
      top: 68px;
      left: 33px;
      width: 134px;
      height: 57px;
    }
  }

  .program-types__title {
    text-align: center;

    &--slim {
      padding-left: 20px;
    }

    &--pro {
      padding-left: 62px;
    }
  }

  .program-types__text {
    padding-top: 72px;
    width: 462px;

    &--break {
      width: 462px;
    }
  }

  .program-types__link {
    padding-bottom: 61px;
    padding-top: 31px;
  }
}
