.radio input[type="radio"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio input[type="radio"]:checked + .radio__name::before {
  display: block;
}

.radio input[type="radio"]:focus + .radio__name::after {
  border: 1px solid #bababa;
}

.radio__name {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 1.13;
  color: #222222;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    &::after {
      border: 1px solid #bababa;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      opacity: 0.3;
    }
  }

  &::before {
    content: "";
    display: none;
    position: absolute;
    left: 9.4px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background: #68b738;
    margin-top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .radio {
    padding-left: 28px;
  }

  .radio__name {
    font-size: 20px;
    line-height: 1;
    padding-left: 59px;
    margin-top: 10px;
    margin-bottom: 12px;

    &::before {
      left: 11px;
      width: 18px;
      height: 18px;
    }

    &::after {
      width: 40px;
      height: 40px;
    }
  }
}
