.result {
  display: flex;
  justify-content: space-between;
}

.result__wrapper {
  position: relative;
  width: 124px;
  border: solid 1px #cdcdcd;
  border-radius: 3px;
}

.result__title {
  font-family: $Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
  padding: 15px 0;
}

.result__text {
  position: absolute;
  left: 17px;
  top: 45px;
  width: 81px;
  margin: inherit;
  background-color: #f2f2f2;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .result {
    width: 365px;
  }

  .result__wrapper {
    width: 160px;
  }

  .result__title {
    font-size: 30px;
    line-height: 1.23;
  }

  .result__text {
    width: 128px;
    font-size: 14px;
    left: 15px;
    top: 64px;
    background-color: #ffffff;
  }
}
