.site-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-top: 15px;
}

.site-list__item {
  position: relative;
  font-family: $Oswald;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #111111;

    &:hover,
    &:focus {
      opacity: 0.6;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: #eaeaea;
  }
}

.site-list__item--active a {
  border-bottom: 2px solid #68b738;
  padding-bottom: 6px;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    margin: 0;
  }

  .site-list__item {
    padding-top: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.39;

    a {
      color: #222222;
    }

    &::before {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    font-size: 20px;
    line-height: 1.25;
  }

  .site-list__item--alt a {
    color: #ffffff;
  }

  .site-list__item--alt-active a {
    border-bottom: 2px solid #ffffff;
  }
}
