.socials {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 125px;
  list-style: none;
}

.socials__item {
  text-align: center;
}

.socials__link {
  fill: #666666;

  &:hover,
  &:focus {
    fill: #68b738;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.3;
  }
}

